/*----------- CONTENT ---------------

1. DEFAULT (PADRÃO) <!-- IGNORAR -->
2. PRELOADER (PRÉ-CARREGAMENTO) <!-- IGNORAR -->
3. HEADER (CABEÇALHO)
4. HOME (PAGINA INICIAL)
5. ADVANTAGES (QUALIDADES DO SERVIDOR)
6. BUY (COMPRAR)

*/

/*===============
    1. DEFAULT
=================*/

@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, red, transparent);
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.329);
  height: 0.4vh;
  position: absolute;
  width: 0.8vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1219147344801794vw;
  font-weight: 400;
  color: white;
  background-color: #000000;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

section {
  height: 100%;
}

img {
  width: 100%;
}

span {
  color: #ff0000;
  position: center;
}

.container {
  width: 87.50934928945401vw;
  padding-right: 1.1219147344801794vw;
  padding-left: 1.1219147344801794vw;
  margin: 0 auto;
}

/*=================
    2. PRELOADER
===================*/

/*===============
    3. HEADER
=================*/

#header {
  width: 100%;
  position: fixed;
  z-index: 1030;
}

.navbar {
  padding-top: 1.4958863126402393vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 2.6178010471204187vw;
  font-weight: bold;
  letter-spacing: 8px;
  line-height: 1;
}

.navbar-brand a span,
.home-info span {
  font-size: 3.3657442034405385vw;
  display: inline-flex;
}

.navbar-nav {
  margin-left: auto;
  margin-top: 5px;
}

.navbar-nav a {
  margin-right: 30px;
}

.navbar-nav a:last-child {
  margin-right: 0px;
}

.navbar-nav a:hover {
  color: #ff0000;
}

.sticky_navigation {
  background-color: #181824;
  height: 90px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
}

/*===============
    4. HOME
=================*/

#home {
  z-index: 1030;
}

.bg-home {
  position: relative;
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.bg-home::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(193, 18, 18, 0.8),
    rgba(0, 0, 0, 0.1)
  );
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-inner {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 1.4958863126402393vw;
  text-transform: uppercase;
}

.home-content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-info {
  text-align: left;
  margin-top: 100px;
  width: 50%;
}

.home-info h1 {
  font-size: 3.3657442034405385vw;
  letter-spacing: 8px;
}

.home-info h1 span::before {
  content: "[RYAN PHILLYPS]";
  position: absolute;
  font-size: 0.5235602094240838vw;
  letter-spacing: 8px;
  line-height: 0px;
}

.home-info p {
  letter-spacing: 1.4px;
  margin-bottom: 2.9917726252804786vw;
  margin-top: 2.9917726252804786vw;
  text-transform: none;
}

.home-img {
  max-width: 70%;
}

.buy-btn {
  display: flex;
}

.brk-btn {
  border: 1px solid #ff0000;
  color: #fff;
  font-size: 1.2715033657442034vw;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 1.7950635751682873vw;
  background-color: #ff0000;
  line-height: 3.5901271503365746vw;
  min-width: 12.715033657442035vw;
  width: max-content;
  padding: 0 15px;
  transition: 0.35s;
  margin-right: 2.243829468960359vw;
  box-shadow: 0 0 70px 0px rgba(193, 18, 18, 0.8);
}

.brk-btn:hover {
  background-color: #ff0000;
  color: #fff;
  opacity: 0.3;
}

.scroll__down {
  position: absolute;
  left: 50%;
  margin-left: -12.5px;
  width: 1.8698578908002992vw;
  height: 40px;
  bottom: 35px;
  z-index: 2;
}

.home-content .scroll__down svg {
  width: 25px;
  height: 40px;
}

.scroll__down a {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

/*==================
    5. ADVANTAGES
====================*/

#advantages {
  z-index: 1030;
}

.bg-advantages {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.bg-advantages::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(193, 18, 18, 0.8),
    rgba193,
    18,
    18,
    0.8
  );
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-inner {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.advantages-content {
  padding-top: 90px;
}

.advantages-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  box-shadow: 0 0 30px 0px rgba(255, 0, 0, 0.486);
  width: 32.33333%;
  padding: 15px;
  background-color: rgba(193, 18, 18, 0.8);
  /*    background-color: rgba(0,0,0,.4);*/
  border-radius: 10px;
  /*    border: 1px solid #007bff;*/
  height: auto;
  text-align: center;
  margin: 4.9px;
  margin-right: 10px;
  margin-bottom: 20px;
  /*    background-color: #007bff;*/
}

.advantages-item:hover {
  box-shadow: 0 0 80px 0px rgba(193, 18, 18, 0.8);
  transition: all 0.6s;
  transform: scale(1.03);
}

.advantages-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.advantages-item:nth-child(2) {
  margin-right: 10;
}

.advantages-item:nth-child(6),
.advantages-item:nth-child(3) {
  margin-right: 0;
}

.advantages-item:nth-child(5),
.advantages-item:nth-child(4) {
  margin-bottom: 0;
}

.advantages-item h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.advantages-item .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #ff0000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 0 30px 0px rgba(193, 18, 18, 0.8);
  /*    box-shadow: 0 0 30px 0px rgba(0, 0, 0, .3);*/
}

.advantages-item svg {
  font-size: 40px;
}

.advantages-item p {
  text-align: left;
}

.content-title {
  text-align: center;
  margin-top: -2%;
  margin-bottom: 3%;
}

.content-title h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.line {
  height: 4px;
  width: 100px;
  display: inline-block;
  border-radius: 10px;
  background: #ff0000;
}

.linha2 {
  height: 5px;
  width: 100px;
  display: inline-block;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 40px;
}

/*==============
    6. BUY
================*/

#buy {
  z-index: 1030;
}

.bg-buy {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.bg-buy::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.8),
    rgba(255, 3, 3, 0.5)
  );
  top: 0;
  left: 0;
  z-index: -1;
}

.buy-content {
  padding-top: 100px;
  margin-top: 8%;
}

.buy-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.buy-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buy-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  min-height: 400px;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  border: 1px solid #ff0000;
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.6),
    rgba(255, 0, 0, 0.6)
  );
  margin-right: 10px;
  /*box-shadow: 0 0 70px 0px rgba(253, 126, 20, .5);*/
}

.buy-item:last-child {
  margin-right: 0;
}

.buy-item h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

.buy-item .list-func p {
  margin-bottom: 10px;
}

.list-func svg {
  margin-right: 5px;
}

.buy-item .list-func p:last-child,
.buy-item .list-func span:last-child {
  margin-bottom: 0;
}

.buy-item h3 {
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buy-item .btn--buy {
  text-align: center;
}

.buy-item .btn--buy a {
  background-color: #ff0000;
  padding: 10px 25px;
  display: block;
  color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0 0 70px 0px rgba(230, 6, 6, 0.5);
}

.buy-item .btn--buy a:hover {
  color: #000000;
}

/*===============
    7. FOOTER
=================*/

#footer {
  position: relative;
  background-color: #0c0c0c;
  padding: 25px;
  z-index: 1030;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  font-size: 23px;
  padding: 20px;
}

.links a:last-child {
  padding-right: 0;
}

.links a:nth-child(1):hover {
  color: #a34c4c;
}

.links a:nth-child(2):hover {
  color: #983b3b;
}

.links a:nth-child(3):hover {
  color: #ee0000;
}

.links a:nth-child(4):hover {
  color: #cc0000;
}

.links a:nth-child(5):hover {
  color: #ff0000;
}

/*==================
    8. ANIMAÇÕES
====================*/

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
